.hero-nav {
    background: linear-gradient(
        to bottom,
        rgb(253, 248, 246),
        rgb(249, 228, 218),
        rgb(227, 227, 250)
      )
}

.animation-grid {
  position: absolute;
  width: 100vw;
  height: 700vh;
  z-index: -2; /* Ensure the grid is behind the content */
  pointer-events: none;
  top: 100vh;
  left: 0;
}


.line-grid {
  position: absolute;
  width: 100vw;
  height: 700vh;
  z-index: -2; /* Ensure the grid is behind the content */
  pointer-events: none;
  top: 100vh;
  left: 0;
}