.hero-nav {
    background: linear-gradient(
        to bottom,
        rgb(253, 248, 246),
        rgb(249, 228, 218),
        rgb(227, 227, 250)
      )
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}


.line-grid {
  position: absolute;
  width: 100vw;
  height: 750vh;
  z-index: -2; /* Ensure the grid is behind the content */
  pointer-events: none;
  top: 80vh;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgb(253, 248, 246),
    rgb(249, 228, 218),
    rgb(227, 227, 250)
  );
}