@media (min-width: 300px) and (max-width: 700px) {
  .experience-container {
    max-width: 100vw;
    margin-top: 3vh;
    padding: 2vw;
  }

  .experience-card {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
                0px 2px 4px rgba(0, 0, 0, 0.06);
    margin-bottom: 30px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .experience-card-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .experience-card-image {
    flex: 1;
    min-width: 50%;
    padding: 1rem 1rem 0rem 1rem;
  }

  .experience-card-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .card-title {
    font-size: 2.2rem;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 0.3rem;
    line-height: 1.3;
  }

  .card-credentials {
    font-size: 0.45em;
    color: #6b7280;
    font-weight: normal;
    margin-left: 0.3rem;
    line-height: 1.4;
  }

  .card-description-wrapper {
    position: relative;
    overflow: hidden;
    max-height: 400px;
  }

  .card-description {
    font-size: 1.8vh;
    color: #444;
    line-height: 1.5;
    margin-top: -1vh;

    overflow: hidden;
    max-height: 400px; /* Limit height */
    position: relative;
    padding: 2vw 2vw 0vw 2vw;
    font-weight: 450;
  }



  .card-action {
    display: flex;
    align-items: center;  /* Vertically center the button */
    justify-content: center;  /* Horizontally center the button */
    width: 100%;  /* Ensure it takes full width of the parent container */
    margin-bottom: 15px;
  }
  
  .learn-more-button {
    padding: 2.7vw 6vw 2vw 6vw;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 70vw;
    height: 5vh;
    color: white;
    text-decoration: none;
    background: rgb(26,157,228);
    background: linear-gradient(90deg,
      rgba(13, 110, 253, 1) 8%,
      rgba(13, 110, 253, 1) 17%,
      rgba(13, 110, 253, 1) 80%,
      rgba(13, 110, 253, 1) 92%);
    font-size: 1.125rem;
    font-weight: 500;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  



  /* Center the button horizontally */
  .experience-card-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .experience-card-text  {
    margin-left: 0; /* Remove the left margin if you want to center perfectly */
  }
 

  .experience-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15),
                0px 4px 8px rgba(0, 0, 0, 0.08);
  }

  .experience-card.reverse .experience-card-content {
    flex-direction: row-reverse;
  }

  .experience-card-image-2 {
    flex: 1;
    min-width: 50%;
    padding: 2rem 2rem 2rem 0rem;
  }

  .experience-card-image img,
  .experience-card-image-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
                0px 2px 4px rgba(0, 0, 0, 0.06);
  }
}
