.about-section-container {
  position: relative;
  height: 90vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;

}

/* .about-section-container .line-grid {
  position: absolute;
  top: -100px;
  left: 150px;
  width: 100%;
  height: 100%;
  z-index: 0; 
  pointer-events: none;}
  */

.about-section-container .horizontal-card {
  position: relative;
  z-index: 1; /* Ensure the card is above the animation grid */
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  background: rgba(255, 255, 255, 0.7);

}

@media (min-width: 800px) {
  .about-section-container {
    max-width: 100vw;
    height: 80vh;

  }

  .about-section-container .card-description {
    font-size: 22px;
  }

  .about-section-container .card-image {
    max-height: 50vh;
  }
}

@media (max-width: 800px) {
  .about-section-container {
    margin: 0 auto;
    padding: 10px 0;
    margin-top: 0;
    font-weight: 300;
  }
}