

@media (min-width: 800px) {
  .about-section-container{
    max-width: 70vw;
    max-height: 70vh;
    align-items: center;
  justify-content: center;
  margin: 2vh auto;
  }

 .about-section-container .card-description {
    font-size: 22px;
  }

  .about-section-container .card-image {
    max-height: 50vh;
    align-items: center;
    justify-content: center;
  }

}

@media (max-width: 800px) {
  .about-section-container {
    
    margin: 0 auto;
    padding: 10px 0px 0px 0px;
    margin-top: 0vh;
    font-weight: 300;
  }
  
 
}