.site-footer {
    background: linear-gradient(
        to bottom right,
        rgb(252, 252, 252),
        rgb(247, 241, 241),
        rgb(204, 204, 228)
      )
}

.divider {
    border: 1px solid #dee2e6;
    opacity: 1;
    margin: 0;
    color: #dee2e6;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    color: #fff;
}

.footer-main-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Contact Links Section */
.footer-contact-links {
    flex: 0 0 40%;
}

.contact-line,
.services-line {
    margin: 2rem 0;
}

.contact-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-link a {
    font-size: 1.25rem;
    color: #fff;
    text-decoration: none;
}

.link-arrow {
    display: flex;
    align-items: center;
}

.link-arrow i {
    color: #fff;
}

/* Quick Links Section */
.footer-quick-links {
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
}

.links-header {
    opacity: 0.5;
    margin-bottom: 1rem;
    color: #fff;
}

.quick-link {
    margin-bottom: 0.75rem;
}

.quick-link a {
    font-size: 1.25rem;
    color: #fff;
    text-decoration: none;
}

/* CTA Section */
.footer-cta {
    display: flex;
    align-items: center;
    flex: 0 0 25%;
}

.appointment-button {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    white-space: nowrap;
}

/* Footer Bottom */
.footer-bottom {
    margin-top: 2rem;
}

.footer-bottom-content {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.social-section {
    display: flex;
    flex-direction: column;
    flex: 0 0 35%;
}

.social-icons {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.social-icon a {
    color: #fff;
    opacity: 0.75;
    font-size: 1.25rem;
}

.copyright {
    opacity: 0.75;
    color: #fff;
}

.disclaimer {
    flex: 0 0 60%;
    font-size: 0.875rem;
    opacity: 0.75;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .footer-main-section,
    .footer-bottom-content {
        flex-direction: column;
    }

    .footer-contact-links,
    .footer-quick-links,
    .footer-cta,
    .social-section,
    .disclaimer {
        width: 100%;
        margin-bottom: 1rem;
    }

    .appointment-button {
        display: block;
        text-align: center;
    }
}