body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Segoe UI", Roboto, system-ui, -apple-system, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  
  background: 
    linear-gradient(136.47deg, #ffffff 15.41%, rgba(255,213,192,0.6) 38%, #7ECBFF 60.14%), /* bottom right */
    linear-gradient(121.21deg, rgba(126,203,255,0.2) -17.31%, rgba(255,240,230,0.8) 26.37%, #ffffff 65.87%), /* top left */
    linear-gradient(224.18deg, #ffffff 15.41%, rgba(255,213,192,0.2) 38%, #8ecffa 60.14%), /* bottom left */
    linear-gradient(45deg, rgba(255,189,151,0.5), rgba(255,229,204,0.5)); /* top right peach gradient */
  background-blend-mode: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
