.location-container {
  max-width: 80vw;
  height: 150vh;
  margin: 0 auto;
  padding: 5rem;
  border-radius: 1rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 5vh;
  background: rgb(255, 255, 255, 0.3);

}

.location-container:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.15);
}

.location-heading {
  margin-bottom: 2.5rem;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: #354051;
}

.location-content {
  display: flex;
  gap: 2rem;
  align-items: stretch;
}

.location-media {
  flex: 0 0 70%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.video-wrapper,
.map-wrapper {
  width: 100%;
  height: 60vh;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.location-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.map-wrapper iframe {
  width: 100%;
  height: 100%;
}

.location-info {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 2rem 2rem;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.location-info:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.location-title {
  font-size: 1.9rem;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 1rem;
  line-height: 1.3;
}

.location-description {
  font-size: 1.3rem;
  line-height: 1.7;
  color: #4b5563;
  flex-grow: 1;
}

@media (max-width: 800px) {
  .location-container {
    max-width: 95vw;
    padding: 1rem;
    margin-top: 2rem;
  }

  .location-content {
    flex-direction: column;
  }

  .location-media {
    gap: 1rem;
  }

  .video-wrapper {
    height: 250px;
  }

  .map-wrapper {
    height: 350px; /* Increased height for mobile */
  }

  .location-info {
    padding: 1rem;
    display: none;
  }

  .location-title {
    font-size: 1.5rem;
  }

  .location-description {
    font-size: 1.1rem;
    line-height: 1.5;
  }
}

