/* Styles applied when the screen is at least 800px wide (min-width: 800px) */
@media (min-width: 800px) {
    .before-after-container {
        position: relative;
        overflow: hidden;
        background-color: white;
        border-radius: 1rem;
        height: 60vh;
        width: 800px; /* Fixed width for min-width */
        padding: 4vh;
        margin: 0 auto; /* Centers the container horizontally */
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .image-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 500px;
        overflow: hidden;
        display: flex; /* Use flexbox */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        margin: 0 auto; /* Centers the image-wrapper horizontally within its parent */
    }

    .image-wrapper > img {
        padding-top: 10vh;
        border-radius: 1vh;
        transition: opacity 1s;
        width: 100%;
        height: auto;
    }

    .image-label-container {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .image-label {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        font-size: 1.3rem;
        text-align: center;
        opacity: 1;
        transition: opacity 1s;
    }

    .transition-overlay {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2); /* Default overlay */
        animation-timing-function: ease-in-out;
        border-radius: 1rem;
        transition: right 0s, background 1s;
    }

    .slide-in {
        animation: slideInFromRight 1s forwards;
        background: rgba(61, 221, 242, 0.8); /* Final overlay color */
    }

    .slide-out {
        animation: slideOutToLeft 1s forwards;
        background: rgba(44, 193, 247, 0.2); /* Fade back */
    }

    @keyframes slideInFromRight {
        0% {
            right: -100%;
            background: rgba(48, 159, 243, 0.2); /* Initial color */
        }
        100% {
            right: 0;
            background: rgba(48, 159, 243, 0.9); /* Final color */
        }
    }

    @keyframes slideOutToLeft {
        0% {
            right: 0;
            background: rgba(48, 159, 243, 0.9); /* Initial color */
        }
        100% {
            right: 100%;
            background: rgba(48, 159, 243, 0.2); /* Faded */
        }
    }

    .hide-label .image-label {
        opacity: 0.5;
        transition: opacity 1s;
    }

    .image-description {
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1rem;
    }
}

/* Styles applied when the screen is at most 800px wide (max-width: 800px) */
@media (max-width: 800px) {
    .before-after-container {
        position: relative;
        overflow: hidden;
        background-color: white;
        border-radius: 1rem;
        min-height: 300px;
        width: 95vw; /* Relative width for smaller screens */
        padding: 2vh;
        margin: 0 auto; /* Centers the container horizontally */
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: rgb(255, 252, 250);
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
                    0px 2px 4px rgba(0, 0, 0, 0.06);
        margin-top: 2vh;
        align-items: center;
    }

    .image-wrapper {
        position: relative;
        width: 95%; /* Adjust width for responsiveness */
        height: 100%;
        min-height: 400px; /* Adjust height for smaller screens */
        overflow: hidden;
        display: flex; /* Use flexbox */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        margin: 0 auto; /* Centers the image-wrapper horizontally within its parent */
    }

    .image-wrapper > img {
        padding-top: 8vh;
        border-radius: 1vh;
        transition: opacity 1s;
        width: 100%;
        height: auto;
    }

    .image-label-container {
        position: absolute;
        top: 1vh;
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .image-label {
        background: linear-gradient( 
          90deg, 
          rgba(13, 110, 253, 1) 8%, 
          rgba(13, 110, 253, 1) 17%, 
          rgba(13, 110, 253, 1) 80%, 
          rgba(13, 110, 253, 1) 92% 
      ); 
        color: white;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        font-size: 1.4rem;
        text-align: center;
        opacity: 1;
        transition: opacity 1s;
    }

    .transition-overlay {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100%;
        height: 100%;
        background: 
      linear-gradient(
        136.47deg,
        rgba(48, 159, 243, 0.2) 15%,
        rgba(255, 213, 192, 0.3) 50%,
        rgba(61, 221, 242, 0.4) 85%
      );
        padding-top: 10vh;
        z-index: 2;
        animation-timing-function: linear;
        border-radius: 1rem;
        transition: none; /* Removes sudden blending issues */
    }

    .slide-in {
        animation: slideInFromRight 1s forwards;
    }

    .slide-out {
        animation: slideOutToLeft 1s forwards;
    }

    @keyframes slideInFromRight {
        0% {
            right: -100%;
            background: 
              linear-gradient(
                136.47deg,
                rgba(48, 159, 243, 0.2) 15%,
                rgba(255, 213, 192, 0.2) 50%,
                rgba(61, 221, 242, 0.2) 85%
              );
        }
        100% {
            right: 0;
            background: 
              linear-gradient(
                136.47deg,
                rgba(48, 159, 243, 0.4) 15%,
                rgba(255, 213, 192, 0.5) 50%,
                rgba(61, 221, 242, 0.6) 85%
              );
        }
    }

    @keyframes slideOutToLeft {
        0% {
            right: 0;
            background: 
              linear-gradient(
                136.47deg,
                rgba(48, 159, 243, 0.4) 15%,
                rgba(255, 213, 192, 0.5) 50%,
                rgba(61, 221, 242, 0.6) 85%
              );
        }
        100% {
            right: 100%;
            background: 
              linear-gradient(
                136.47deg,
                rgba(48, 159, 243, 0.2) 15%,
                rgba(255, 213, 192, 0.3) 50%,
                rgba(61, 221, 242, 0.4) 85%
              );
        }
    }

    .image-description {
        text-align: center;
        font-size: 1.1rem;
        font-weight: 500;
        margin-top: 1rem;
    }
}
