/* Since the specific container styling is now in the ServiceCard.css, 
   this file can remain minimal or empty, or contain any additional 
   specific styles for the ServiceOfferings component */

   .services-container {
    /* Any additional container-level styles can be added here */
    width: 100%;
  }
  
  /* If you want to ensure the separation between cards is consistent */
  .separator {
    width: 1px;
    background-color: #e5e7eb;
    margin: 0 2rem;
  }
  
  @media (min-width: 300px) and (max-width: 800px) {
    .separator {
      display: none;
    }
  }