.hoverbar-menu {
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    background-color: #ffffff;
    font-weight: 500;
    margin-left: 10vw;
  }
  
  .menu-item {
    position: relative;
    cursor: pointer;
    padding: 10px 20px;
    transition: color 0.3s ease;
  }
  
  .menu-item:hover {
    
    text-decoration: underline blue;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 10;
    padding: 10px;
    animation: fadeIn 0.3s ease;
  }
  
  .dropdown-item {
    padding: 8px;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-item:hover {
    background-color: #f0f0f0;
    color: blue;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }